In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data = pd.read_csv("Datasets/test.csv", header=None)

In [3]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,111,112,113,114,115,116,117,118,119,120
0,11.0024,-7.4122,-0.3357,-12.6771,-7.9452,12.8970,-1.8094,-4.8578,6.2107,-8.1686,...,-1.2188,-25.6730,1.8100,27.9311,-1.1102,30.6666,-8.6215,-6.8471,14.2714,1
1,6.9323,-1.4870,-2.9409,-11.1946,-1.2109,4.0003,-3.4731,-5.0547,-6.1360,10.1343,...,0.6728,-33.1700,-13.3762,31.4007,6.2253,20.5491,-6.7502,3.9887,0.8218,1
2,-2.1039,-9.0168,-2.0643,-7.0798,-3.6211,-2.2043,8.8834,-11.7823,-27.3388,-18.7724,...,1.0769,-19.5188,-2.7786,20.9467,-14.6440,20.7148,-12.1842,-4.7982,7.9128,1
3,0.3853,0.8456,-14.7022,-0.8235,2.1641,-11.4608,5.4729,-1.5827,-14.0262,-16.0390,...,1.9557,-37.4715,-13.4394,18.5138,-22.5882,20.8300,-11.4915,-0.3215,-14.5740,1
4,2.2298,-14.8218,-17.7374,8.0204,21.5855,8.4006,-10.0835,13.7660,-22.4206,-9.7743,...,4.8283,-17.9625,2.1550,-2.8129,-24.8584,24.2855,0.7311,-1.4030,18.9437,1

In [4]:
x = data.iloc[:,0:120]

In [5]:
x.head()

,0,1,2,3,4,5,6,7,8,9,...,110,111,112,113,114,115,116,117,118,119
0,11.0024,-7.4122,-0.3357,-12.6771,-7.9452,12.8970,-1.8094,-4.8578,6.2107,-8.1686,...,-0.4552,-1.2188,-25.6730,1.8100,27.9311,-1.1102,30.6666,-8.6215,-6.8471,14.2714
1,6.9323,-1.4870,-2.9409,-11.1946,-1.2109,4.0003,-3.4731,-5.0547,-6.1360,10.1343,...,0.2200,0.6728,-33.1700,-13.3762,31.4007,6.2253,20.5491,-6.7502,3.9887,0.8218
2,-2.1039,-9.0168,-2.0643,-7.0798,-3.6211,-2.2043,8.8834,-11.7823,-27.3388,-18.7724,...,10.9293,1.0769,-19.5188,-2.7786,20.9467,-14.6440,20.7148,-12.1842,-4.7982,7.9128
3,0.3853,0.8456,-14.7022,-0.8235,2.1641,-11.4608,5.4729,-1.5827,-14.0262,-16.0390,...,3.4048,1.9557,-37.4715,-13.4394,18.5138,-22.5882,20.8300,-11.4915,-0.3215,-14.5740
4,2.2298,-14.8218,-17.7374,8.0204,21.5855,8.4006,-10.0835,13.7660,-22.4206,-9.7743,...,-7.8890,4.8283,-17.9625,2.1550,-2.8129,-24.8584,24.2855,0.7311,-1.4030,18.9437

In [6]:
y = data.iloc[:,-1]

In [7]:
x = pd.DataFrame(x)
y = pd.DataFrame(y)

In [8]:
x.isna().sum()

0      0
1      0
2      0
3      0
4      0
      ..
115    0
116    0
117    0
118    0
119    0
Length: 120, dtype: int64

In [9]:
y.isna().sum()

120    0
dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=42)

In [11]:
from sklearn.ensemble import RandomForestClassifier

In [12]:
model1 = RandomForestClassifier()

In [13]:
model1.fit(x_train,y_train)

<ipython-input-13-05c88abb74fb>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model1.fit(x_train,y_train)

RandomForestClassifier()

In [14]:
model1.score(x_test,y_test)

1.0

In [15]:
from sklearn.tree import DecisionTreeClassifier

In [16]:
model2 = DecisionTreeClassifier()

In [22]:
model2.fit(x_train,y_train)

DecisionTreeClassifier()

In [23]:
model2.score(x_test,y_test)

0.7424242424242424

In [24]:
from sklearn.neighbors import KNeighborsClassifier

In [25]:
model3 = KNeighborsClassifier()

In [26]:
model3.fit(x_train,y_train)

<ipython-input-26-1f6124acafc4>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  model3.fit(x_train,y_train)

KNeighborsClassifier()

In [27]:
model3.score(x_test,y_test)

1.0

In [29]:
model3.predict(x_test)

array([13, 14,  9, 17,  2, 11, 16, 20,  7, 13, 10,  3, 18,  1,  7, 20, 16,
        2, 18,  7, 18,  9, 20,  3, 12, 19,  9,  2,  5, 15, 11,  6, 10, 18,
        7, 10,  8, 13, 13, 10,  8, 18, 11,  9,  8, 20, 11, 13, 12, 15, 20,
        4,  3, 17, 13,  3,  2,  7, 19,  6,  7,  1, 13,  6, 15, 17],
      dtype=int64)